.movie-row {
    margin: 20px 0;
    color: white;
    background-color: rgb(47, 47, 47);
}

.movie-row h2 {
    font-size: 1.6rem;
    margin-bottom: 10px; 
    margin-left: 40px;
    margin-top: 40px;
    font-weight: 600;
    color: rgb(221, 221, 221);
}

.movie-list {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-top: 5px;   
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

/* Sakrivanje scrollbara */
.movie-list::-webkit-scrollbar {
    display: none;
}

.movie-card {
    min-width: 200px;
    transition: transform 0.3s;
    position: relative;
}

.movie-card:hover {
    transform: scale(1.08);
    z-index: 2;
    cursor: pointer;
}

.movie-card img {
    width: 100%;
    border-radius: 8px;
}

.movie-info {
    font-size: 0.9rem;
    margin-top: 5px;
}

.row-wrapper {
    position: relative; /* Da bi strelice mogle biti unutar */
    display: flex;
    align-items: center;
}

/* Stil za strelice */
.handle {
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100px;
    background-color: rgba(47, 47, 47, 0.6);
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    opacity: 0; /* Sakriveno po defaultu */
    transition: opacity 0.3s ease;
}

.handle-left { 
    left: 0; 
 }
.handle-right { 
    right: 0; 
    
}

/* Pokazuje strelice na hover cijelog reda */
.row-wrapper:hover .handle {
    opacity: 1;
}

.handle:hover {
    background: rgba(47, 47, 47, 0.8);
    color: #ff7300;
}

/* smooth scroll za movie list */
.movie-list {
    scroll-behavior: smooth;
}

/* Overlay - zatamnjena pozadina)*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* Sadržaj popupa */
.modal-content {
    background: #181818;
    width: 90%;
    max-width: 800px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    color: white;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.modal-body {
    display: flex;
}

.modal-body img {
    width: 40%;
    object-fit: cover;
}

.modal-info {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-rating {
    color: #46d369;
    font-weight: bold;
}

.modal-overview {
    line-height: 1.5;
    color: #ccc;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

/* modal responsiveness za mobitele */
@media (max-width: 768px) {
    .modal-body {
        flex-direction: column;
    }
    .modal-body img {
        width: 100%;
        height: 250px;
    }
}

.modal-buttons {
    display: flex;       
    gap: 15px;          
    margin-top: 10px;   
}

.play-button {
    display: flex;
    background-color: #ff7300;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
}

.play-button:hover{
    background-color: #fc9c4e;
    transition: background-color 0.2s ease;
}